<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет posts -->
{% block title %}
    Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

    <table>
        <tr>
            <h1>{{ newsitem }}</h1>
        </tr>
        <tr>
            <h3>{{ newsitem.post_datetime|date:'d.m.Y' }}</h3>
        </tr>
        <tr>
            {{ newsitem.post_content }}
        </tr>
    </table>
{% endblock content %}